<h1>Trainer Types:</h1>
<h3>At the start of the game, you will be able to pick your avatar!</h3>

  <%= image_tag asset_path('trainer_boy.png'), class: 'trainer'%>
  <%= image_tag asset_path('trainer_girl.png'), class: 'trainer'%>