<h1 >Welcome to the world of Pokemon!</h1>

  <%= link_to "View trainer types", trainer_index_path, class: 'btn' %>
  <%# link_to "View gyms", %>
  <%# link_to "Kanto region map", %>
  <%# link_to "Pokedex", %>
