// Place all the styles related to the Trainer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image: url("plains.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  padding: 0px;
  margin: 0px;
}
.nav-bar {
  display: block;
}
.logo {
  img{
    width: 260px;
  }
  background-color: #00a300;
}

.center{
  margin: auto;
  text-align: center;
}
.green-box{
  background-color: rgba(48, 221, 48, 0.4)
}
a.btn{
   display:inline-block;
 padding:0.5em 3em;
 border:0.16em solid #FFFFFF;
 margin:0 0.3em 0.3em 0;
 box-sizing: border-box;
 text-decoration:none;
 text-transform:uppercase;
 font-family:'Roboto',sans-serif;
 font-weight:400;
 color:#FFFFFF;
 text-align:center;
 transition: all 0.15s;
}