// Place all the styles related to the Trainer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image: url("plains.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  padding: 0px;
  margin: 0px;
}
.nav-bar {
  display: block;
}
.logo {
  img{
    width: 260px;
  }
  background-color: #00a300;
}

.center{
  margin: auto;
  text-align: center;
}
.green-box{
  background-color: rgba(48, 221, 48, 0.4)
}
.btn{
}
.trainer{
  height: 500px;
  margin: 50px;
}
.grid-container{
  display: grid;
  justify-content: center;
}